@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Raleway:wght@100;400&display=swap');

:root {
    /* CSS HEX */
    --primary: #30333b;
    --secondary: #7798abff;
    --accent1: #F2F7F3;
    --accent2: #548c59ff;
    --accent3: #264029ff;

    /* for blur effects */
    --background-color: #00000040;
    --box-shadow: 0 8px 32px 0 #30333b5e;
    --border-blur: 1px solid #ffffff2e;

    /* Font Family */
    --heading-font: 'Alfa Slab One', cursive;
    --paragraph-font: 'Raleway', sans-serif;

    /* Font Weight (Paragraph) */
    --paragraph-font-weight-normal: 400;
    --paragraph-font-weight-light: 100;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary);
    margin: 0;
    padding: 25px 0;
    font-family: var(--heading-font);
}

p, a {
    color: var(--accent1);
    margin: 0;
    padding: 0;
    font-family: var(--paragraph-font);
    font-weight: var(--paragraph-font-weight);
}

ul {
    margin: 0;
}

body {
    margin: 0 auto;
    padding: 10px;
    background-image: url(/m-a/images/background.svg);
    text-align: center;
}

header, footer {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    background: var(--background-color);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border: var(--border-blur);
}

img {
    width: 100%;
    border-bottom: 10px solid var(--primary);
    margin: 0 auto;
    padding: 0;
}

/* Header Styles */
header {
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

header nav ul {
    display: flex;
    padding: 0;
}

header nav ul li {
    list-style: none;
    padding: 10px 30px 10px 10px ;
}

header nav ul li a {
    text-decoration: none;
}


/* Main Styles */

main {
    background-color: var(--accent1);
    min-height: 80vh;
    padding-bottom: 25px;
}

main a, main p {
    color: var(--primary);
}

main p {
    padding: 10px 20px;
    text-align: justify;
}

.message-date {
    color: var(--secondary);
}

.post-message {
    font-size: x-small;
}

#quote-img {
    width: 45%;
    border: 2px solid;
    border-radius: 30px;
}


/* Footer Styles */
footer {
    padding: 10px;
    border-radius: 0 0 10px 10px;
}